<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isAppUpdated</key>
	<true/>
	<key>isShowUserGuide</key>
	<true/>
	<key>signatureSalt</key>
	<string>LIxDGtF94LkvNlyXObAAPSmS5PvdCnPIcD8IQU5Z</string>
	<key>umengAppKey</key>
	<string>5335438f6c738f4e13000039</string>
	<key>httpServer</key>
	<string>http://www.bookworm.cc:80/api</string>
	<key>appStoreURLString</key>
	<string>https://itunes.apple.com/us/app/bookworm/id1060072331?l=%@&amp;ls=1&amp;mt=8</string>
</dict>
</plist>
