<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<dict>
		<key>protocol</key>
		<string>http</string>
		<key>host</key>
		<string>www.bookworm.cc</string>
		<key>port</key>
		<real>8080</real>
	</dict>
	<key>isUpdated</key>
	<true/>
	<key>isShowOperationTip</key>
	<true/>
</dict>
</plist>
