<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<dict>
		<key>protocol</key>
		<string>http</string>
		<key>host</key>
		<string>www.bookworm.cc</string>
		<key>port</key>
		<integer>80</integer>
	</dict>
	<key>isAppUpdated</key>
	<true/>
	<key>isShowUserGuide</key>
	<true/>
	<key>socialAppKey</key>
	<string></string>
	<key>analyticsAppKey</key>
	<string></string>
	<key>refererPrefix</key>
	<string>http://www.bookworm.com/api/%@/%@</string>
	<key>appStoreURLString</key>
	<string>https://itunes.apple.com/us/app/bookworm/id1060072331?l=%@&amp;ls=1&amp;mt=8</string>
</dict>
</plist>
