<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Wechat</string>
		<key>imageName</key>
		<string>button_wechat</string>
	</dict>
	<dict>
		<key>title</key>
		<string>WechatMoments</string>
		<key>imageName</key>
		<string>button_wechat_moments</string>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ</string>
		<key>imageName</key>
		<string>button_qq</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Weibo</string>
		<key>imageName</key>
		<string>button_weibo</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Qzone</string>
		<key>imageName</key>
		<string>button_qzone</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Douban</string>
		<key>imageName</key>
		<string>button_douban</string>
	</dict>
</array>
</plist>
