<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Wechat</string>
		<key>normalImageName</key>
		<string>button_wechat_normal</string>
		<key>disabledImageName</key>
		<string>button_wechat_disabled</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Moments</string>
		<key>normalImageName</key>
		<string>button_moments_normal</string>
		<key>disabledImageName</key>
		<string>button_moments_disabled</string>
	</dict>
	<dict>
		<key>title</key>
		<string>QQ</string>
		<key>normalImageName</key>
		<string>button_qq_normal</string>
		<key>disabledImageName</key>
		<string>button_qq_disabled</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Weibo</string>
		<key>normalImageName</key>
		<string>button_weibo_normal</string>
		<key>disabledImageName</key>
		<string>button_weibo_disabled</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Qzone</string>
		<key>normalImageName</key>
		<string>button_qzone_normal</string>
		<key>disabledImageName</key>
		<string>button_qzone_disabled</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Douban</string>
		<key>normalImageName</key>
		<string>button_douban_normal</string>
		<key>disabledImageName</key>
		<string>button_douban_disabled</string>
	</dict>
</array>
</plist>
